@import 'variables';

$main-font: Helvetica, Arial, sans-serif;
$contentWidth: 900px;

body {
  margin: 0;
  font-family: $main-font;

  background-color: #fff;
  background-image: url('images/texture.png');
  background-size: 20%;
  background-repeat: repeat;
}

h1 {
  color: $black;
  font: 32px/1 $main-font;
}

h2 {
  color: $black;
  font: 26px/1 $main-font;
}

header {
  position: relative;
  margin: 0 auto;
  width: $contentWidth;
  height: 100px;

}

#header-background {
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  width: $contentWidth;
  height: 100px;
}

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/MW-DU756_Stock_20150921172954_ZH.jpg) 0 0 no-repeat;
  padding-left: 84px;
}

#search {
  position: absolute;
  right: 25px;
  top: 40px;
}

#search input {
  width: 150px;
  height: 30px;
  margin: 0;
}

#magnifier {
  position: absolute;
  top: 45px;
  right: 30px;
  background-image: url("images/magnifier.png");
  background-repeat: no-repeat;
  width: 25px;
  height: 23px;
}

#auth {
  position: absolute;
  right: 30px;
  top: 10px;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
  }
  li {
    float: left;
    margin: 0 5px 0 5px;
    border-width: 1px 1px 0 1px;
    border-color: $black;
    border-style: dotted;
  }
  a{
    display: block;
    text-decoration: none;
    padding: 15px;
    background: $background;
    color: $color;
    font-weight: 500;

    &:hover {
      background: darken($background, 20%);
    }
  }
}

nav {
  @include tabs ($background: $darkblue, $color: $white);
  font-weight: bold;
  position: absolute;
  bottom: 0;
}

nav a.selected {
  background: lighten($darkblue, 10%);
}

p {
  font: 13px/1.4 $main-font;
}

a.indicator {
  padding: 10px;
  color: $red
}

a.indicator.selected {
  color: $black;
}

.flash {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: lighten($red, 60%);
  color: $red;
  border: 1px solid $red;
}

.bold {
  font-weight: bold;
}

.table {
  display:table;
  width: 100%;
  margin: 10px 10px 10px 10px;
}

.table-row {
  display:table-row;
  text-decoration: none;
  color: $black;
}

.table-row.hoover {
  &:hover {
    background: lighten($black, 10%);
  }
}


.table-row.head {
  background: lighten($black, 10%);
}

.table-cell {
  display:table-cell;
  padding: 5px;
}

.table-cell.head {
  padding: 15px;
}

.table-sub-cell {
  display: block;
}

.red {
  color: $red;
}

.green {
  color: $green;
}

div#content {
  //display: block;
  width: $contentWidth;
  margin: 0 auto;
}

.quote-row {
  padding: 5px 0 5px 0;
}

.quote-name, .quote-value {
  width: 25%;
  display: inline-block;
}

input {
  margin: 0 10px 0 10px;
}